@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = null;
}
<link href="~/assets/css/styles.min.css" rel="stylesheet" />
<link href="~/assets/libs/bootstrap/dist/css/bootstrap.min.css" />

<!-- Quên mật khẩu -->
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%; border-radius: 15px; background: #f9f9f9;">
        <h2 class="text-center mb-4" style="color: #6a1b9a; font-weight: bold;">Quên mật khẩu</h2>
        <form asp-action="ForgotPassword">
            <div class="mb-3">
                <input type="email" id="email" name="email" class="form-control form-control-lg" required placeholder="Nhập email của bạn" />
            </div>
            <button type="submit" class="btn btn-warning btn-lg w-100 py-2">Gửi</button>
        </form>
        <div class="mt-4 text-center">
            <a href="Login" style="color: #6a1b9a;">Quay lại trang đăng nhập</a>
        </div>
    </div>
</div>

<script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
