<!DOCTYPE html>
<html style="font-size: 96px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <title>Tsinghua University</title>
    <meta name="keywords" content="Tsinghua University">

	<link href="~/layoutuser/style/index.css" rel="stylesheet" />
	<link href="~/layoutuser/style/mystyle.css" rel="stylesheet" />
    <link href="~/layoutuser/style/phone.css" rel="stylesheet" media="screen and (max-width: 800px)" />

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <!-- CustomerNO:77656262657232307e78475c5356574200000003435c -->
    <script type="text/javascript" src="~/layoutuser/jquery/jquery.min.js"></script>
    <script src="~/layoutuser/jquery/set.js"></script>
	<link href="~/layoutuser/style/index2.css" rel="stylesheet" />
    <script type="text/javascript" src="./Tsinghua University_files/counter.js"></script>
    <script type="text/javascript">_jsq_(1001, '/index.jsp', -1, 1722153354)</script>
</head>
<body class="show">
    <div class="g-head">
        <div class="wal">
            <a href="" class="logo"></a>
            <div class="btn-list">
                <ul>
                    <script language="javascript" src="./Tsinghua University_files/dynclicks.js.download"></script>
                    <script language="javascript" src="./Tsinghua University_files/openlink.js.download"></script>
                    <li><a href="#">Đăng Nhập</a></li>
                    <li><a href="#">Đăng Ký</a></li>

                </ul>
                <div class="language">
                    &nbsp;
                </div>&nbsp;&nbsp;&nbsp;
                <div class="search">
                    <form action="" method="post" style="display: inline">
                        <div class="input"><input name="showkeycode" id="showkeycode268431"></div>
                        <div class="p-ico btn"><i class="fa-solid fa-magnifying-glass"></i><input type="submit" value=""></div>
                    </form>
                </div>
            </div>
            <a href="javascript:;" class="navA"></a>
            <div class="g-nav">
                <ul>
                    <li>
                        <a class="name" href="" title="Trang Chủ">Trang Chủ</a>
                    </li>
                    <li>
                        <a class="name" href="" title="Tài Khoản">Tài Khoản</a>
                        @* Các mục con nằm ở đây *@
                        <div class="list">
                            <dl>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <a class="name" href="" title="Theo Dõi Yêu Cầu">Theo Dõi Yêu Cầu</a>
                    </li>
                    <li>
                        <a class="name" href="" title="FAQs">FAQs</a>
                    </li>
                    <li>
                        <a class="name" href="" title="Liên Hệ">Liên Hệ</a>
                        <div class="list">
                            <dl>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                                <dd><a href="javascript:void(0)" title="Lorem">Lorem</a></dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="g-nav2">
        <div class="scroll">
            <ul>
                <li>
                    <h2><a href="" title="Trang Chủ">Trang Chủ</a></h2>
                </li>
                <li>
                    <h2 class="h2"><a class="name" href="" title="Tài Khoản">Tài Khoản</a></h2>
                    <div class="list">
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                    </div>
                </li>
                <li>
                    <h2><a class="name" href="" title="Theo Dõi Yêu Cầu">Theo Dõi Yêu Cầu</a></h2>
                </li>
                <li>
                    <h2><a class="name" href="" title="FAQs">FAQs</a></h2>
                </li>
                <li>
                    <h2 class="h2"><a class="name" href="" title="Liên Hệ">Liên Hệ</a></h2>
                    <div class="list">
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                        <h3><a href="javascript:void(0)" title="Lorem">Lorem</a></h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="product">
        @RenderBody()
    </div>
   

    <div class="g-foot">
        <div class="wal">
            <div class="logo">
                <a href="" title="">
                    <img src="~/layoutuser/img/sweetsoft-logo-light.svg" />
                </a>
            </div>
            <div class="share">
                <ul>

                    <li>
                        <a href="" title="" style="display:block;">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="" style="display:block;">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="" style="display:block;">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>

                    <li>
                        <a href="" style="display:block;">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="" style="display:block;">
                            <i class="fa-brands fa-tiktok"></i>
                        </a>
                    </li>

                    <li>
                        <a href="" style="display:block;">
                            <i class="fa-brands fa-weixin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="info">
                <div class="col">
                    <p>©2024 SweetSoft </p><p>Đường dây nóng An ninh Mạng : <a href="">0692194053</a></p>
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <div class="p-ico">
                                Designed By AliTeam
                            </div><p>&nbsp;</p>
                        </li>
                        <li>
                            <div class="p-ico">
                                <i class="fa-regular fa-envelope"></i>
                            </div><p>aliteam.ct@gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<script src="~/layoutuser/jquery/js.js"></script>
	<link href="~/layoutuser/style/swiper.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/layoutuser/jquery/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="~/layoutuser/jquery/tweenmax.min.js"></script>
</body>
</html>